<div class="uiMail">
	<div class="top">
		<div class="heading">mail item</div>
	</div>
	<div class="bottom">
		<div class="col">
			<div class="item">
				<div class="icon"></div>
				<div class="quantity"></div>
			</div>
		</div>
		<div class="col">
			<input class="txtRecipient textbox" type="text" placeholder="recipient">
			<div class="btnSend">send</div>
		</div>
	</div>
</div>